.idea/sonarlint/*
chess/build/*
chess/.idea/
chess/.gradle/**
# SonarLint plugin
.idea/**/sonarlint/
.vscode/**/sonarlint/

# SonarQube Plugin
.idea/**/sonarIssues.xml



# Build directories
target/
build/

# IDE files
.idea/
*.iml